header {
	background: url('../img/bg.jpg') #1C7293;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	.logo_menu {
		padding: 25px 0;
		border-bottom: 1px solid rgba(255,255,255,.4);
		.logo {
			a {
				display: block;
				img {
					vertical-align: top;
				}
			}
		}
		.menu {
			text-align: right;
			line-height: 50px;
			a {
				color: #fff;
				margin-left: 60px;
				font-size: 18px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.textos {
		margin: 200px 0;
		text-align: center;
		.primera_linea {
			color: #fff;
			font-size: 35px;
			list-style: 35px;
			font-weight: 300;
		}
		.segunda_linea {
			margin-top: 30px;
			color: #fff;
			font-size: 25px;
			list-style: 5px;
			font-weight: 300;
		}
		.contenedor_btns {
			margin-top: 60px;
			a {
				margin: 0 10px; 
				padding: 12px 0;
				width: 235px;
				color: #fff;
				text-decoration: none;
				border: 2px solid #fff;
				border-radius: 4px;
				font-weight: 600;
				display: inline-block;
				&:hover {
					background: #fff;
					color: #395756;
				}
			}
		}
	}
}
