@media screen and (max-width:992px) {
	header {
		.logo_menu {
			.logo {
				margin-bottom: 20px;
				text-align: center;
			}
			.menu {
				text-align: center;
				a {
					margin: 0 20px;
				}
			}
		}
		.textos {
			margin: 50px 0;
			font-size: 16px;
			.primera_linea {
				font-size: 1.5em;
			}
			.segunda_linea {
				font-size: 1.3em;
			}
			.contenedor_btns {
				a {
					margin-bottom: 20px;
				}
			}
		}
	}
	.main {
		.productos {
			.foto {
				.titulo {
					margin-top: 0;
				}
			}
		}
		.clientes {
			.cliente {
				margin-bottom: 40px;
			}
		}
	}
}